* {
  padding: 0;
  margin: 0;
}

.overlay-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 30px;
}

.input-container {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 8px;
  max-width: 400px;
}

.input-container input {
  width: 100%;
  max-width: 400px;
  font-size: 15px;
}

.input-container button {
  background-color: rgb(16, 122, 229);
  color: white;
  font-size: 12px;
  width: 75px;
  padding: 5px 10px;
  border: none;
  margin-top: 20px;
  display: inline;
  align-self: stretch;
}

.input-container span {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.content-container {
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.microsoft-logo {
  width: 70px;
  aspect-ratio: initial;
}

.microsoft-popup {
  padding: 20px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-evenly;
  background-color: white;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.18));
}

.microsoft-popup-container {
  animation: fadeIn 0.8s ease forwards;
  height: 100vh;
  background: #e3fcfc;
  background: radial-gradient(
    circle,
    rgba(227, 252, 252, 1) 0%,
    rgba(245, 214, 184, 1) 100%
  );
  justify-content: center;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #333; /* Or a Microsoft-like color */
  margin: 0 4px;
  display: inline-block;
  animation: bounce 1s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Or scale(1.2) for scaling */
  }
}

#paragraph {
  font-weight: bold;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
}

.logo-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 12vh;
  background: #0f2f3d;
  background: linear-gradient(
    90deg,
    rgba(15, 47, 61, 1) 0%,
    rgba(38, 72, 102, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons {
  height: 30px;
  filter: invert(100%);
}

.icons-non-inverted {
  height: 25px;
}

.fon-logo {
  height: 60px;
}

.fon-logo-white {
  display: block;
  width: 60vw;
  margin: auto;
}

.icon-container {
  width: 105%;
  padding: 30px 0px 60px 0px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.icon-container span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.content-container p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
}

.icon-and-date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#link {
  text-decoration: none;
  color: black;
}

#link:hover {
  color: rgb(19, 174, 19);
}

.overlay-container img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 640px) {
  .fon-logo-white {
    width: 350px;
  }

  .p {
    font-size: 20px;
    padding: 0px 20vw;
  }
}

@media screen and (max-width: 500px) {
  #paragraph {
    font-size: 30px;
  }
}

@media screen and (max-width: 350px) {
  .icon-and-date span {
    font-size: 10px;
  }
}

@media screen and (min-width: 790px) {
  #paragraph {
    padding: 0px 10vw;
  }
}

@media screen and (min-width: 450px) {
  .input-container img {
    width: 300px;
  }
}
